*/*seletor universal=**/{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
}
/* fonts font-family: 'Roboto', sans-serif;*/
a{ 
    text-decoration: none;
}

html{ 
    background-color:#cdffb1;
}

h1{ margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}


p{
    margin-top: 10px;
    font-size: 15px;
    opacity: 50%;
    margin-bottom: 15px ;

    color: #000000;
}

body{
    align-items: center;
    font-family: 'Roboto', sans-serif;
   

}

.foto{
    width: 120%;
    height: auto;
    display: flex;
    align-items: center;
    width: 110%;
}



.instagram{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 0.8;
    font-size: 18px;
}  


.container{
    text-align: center;
    width: 300px;
    margin: 60px auto 0px/*o terceiro é para colocar margin embaixo*/;
    padding: 0px 40px;
}

ul{
    list-style: none;
    margin-top: 48px;
}


ul li a{
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9AF36;
    color: #ffffff;
    list-style: none;

    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 20px;

    transition: 400ms;
}

ul li a:hover{
    background-color: #71BF44;
}

p:hover{
    opacity: 90%;

    transition: 400ms;

}

footer{
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    color: #000000;

    opacity: 50%;
}

footer:hover{
    opacity: 90%;
    transition: 400ms;
}